
.row {
  /* display: -webkit-box;
  display: -ms-flexbox; */
  /* display: flex; */
  /* -ms-flex-wrap: wrap; */
  flex-wrap: nowrap !important;
  margin-right: -15px;
  margin-left: -15px;
}
.text-overlay {
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  /* width: 93.5%; */
  opacity: 0;
  transition: .5s ease;
}

.text-overlay:hover{
  opacity: .75;
  background-color: #0AA3E5;

}

.text-overlay-header {
  font-family: "notoserif";
  font-size: 1.875rem;
  color: white;
  opacity: 1;
  padding-left: 2.188rem;
  padding-top:  2.125rem;
  width: 60%;
}

.text-overlay-button {
  font-size: 1.125rem;
  font-family: "notoserif-italic";
  background-color: transparent;
  border: none;
  outline: none;
  opacity: 1;
  margin-left: 2rem;
  margin-top:  .5rem;
  color: white;
}

.carousel-item, .carousel-2-item, .carousel-3-item{
  width: 24.5em;
  height: 16.5em;
  /* overflow: hidden; */
}

/* .carousel-item {
  
  height: 16.5em;
  overflow: hidden;
} */

.img-fluid {
  /* max-width: 100%; */
  /* height: 100%; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-control-next, .carousel-control-prev {
  width: 0;
}

.custom-arrow-icon {
  height: .938rem;
  width: .938rem;
}

.left-icon:hover {
  transform: rotate(-45deg);
}


.right-icon:hover {
  transform: rotate(45deg);
}
@media (min-width: 768px) {

  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
      display: block;
  }
  
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
      transition: none;
  }
  
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  
  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -80%; /* this hides the item from overflowing from the right */
      z-index: -1;
      display: block;
      visibility: visible;
  }
  
  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
  }
  
  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
  }
  
  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
  }

}